:root {
--bg: #EBD0A2;
--bg-shadow: #b19e7d;
--mc: #8B2C2A;
--accent: #947CCA;
--dark-bg: #000000;
--dark-bg-shadow: #333333;
--dark-mc: #A11312;
--dark-accent: #FFE5CC;
background-color: var(--bg);
color: var(--mc);
}

body {
    margin: 0 0 0 0;
}
th {
    background-color: var(--bg-shadow);
    color: var(--mc);
    padding: 5px 8px 5px 8px;
    border: solid 1px var(--mc);
}
td {
    padding: 5px 8px 5px 8px;
    border: solid 1px var(--mc);
}
nav {
    display: flex;
    justify-content: space-around;
    margin: 0 0 10px 0;
    padding: 15px 17px 17px 15px;
    background:var(--bg-shadow);
}
footer {
    justify-items: end;
    margin: 0 7px 0 0;
}
select {
    background-color: var(--bg-shadow);
    border: solid 1px var(--mc);
}
input {
    background-color: var(--bg-shadow);
    border: solid 1px var(--mc);
}
form {
    /* border: solid 1px var(--mc); */
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    justify-self: center;
}
textarea {
    background-color: var(--bg-shadow);
    border: solid 1px var(--mc);
}
table {
    margin: 0 auto;
}

.nav-btn {
    color: var(--mc);
    background:var(--bg-shadow);
    padding: 5px 8px 5px 8px;
    border: solid 1px var(--mc);
}
.nav-btn:active {
    background-color: var(--bg);
}
.main-content {
    justify-content: center;
    justify-items: center;
    justify-self: center;
    min-width: 90%;
}
.table-container {
    overflow-x: auto;
    width: 100%;
    max-width: 90vw;
}

.notes {
    display: flex;
    justify-content: center;
    justify-items: center;
    justify-self: center;
    width: 90%;
}