<header>
    <nav>
        <a href="/"><button class="nav-btn">Home</button></a>
        <a href="/add-shift"><button class="nav-btn">Add shift</button></a>
        <a href="/earnings"><button class="nav-btn">Earnings</button></a>
        <a href="/"><button class="nav-btn">Home</button></a>
        <a href="/"><button class="nav-btn">Home</button></a>

    </nav>
</header>