<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <link rel="stylesheet" href="/css/root.css">
        <link rel="stylesheet" href="/css/home.css">
        <script src="/js/home.js"></script>
    </head>
    <body>
        <%- include('templates/header.ejs') %>
        <section class="main-content">
            <h1>Welcome to the home of easy gig tracking!!</h1>
            <p>Track your gigs and make your life easier</p>
            <div>
            <label for="gigs">Choose one of the following gigs:</label>
            <select name="gigs" id="gigSelector">
            <%- include('templates/gig-selector.ejs', {gigToShow: gigToShow, gigsByCatagory: gigsByCatagory}); %>
            </select>
        </div>
            <br />
            <h2 id="gigName"></h2>
            </section>
        <%- include('templates/footer.ejs') %>
    </body>
</html>
