<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <link rel="stylesheet" href="/css/root.css">
        <link rel="stylesheet" href="/css/shift.css">
    </head>
    <body>
        <%- include('templates/header.ejs') %>
        <section class="main-content">
            <h1>Shifts</h1>
            <p>See all your shifts</p>
            <form action="/shifts" method="POST">
            <select name="gigs" onchange="this.form.submit()">
            <%- include('templates/gig-selector.ejs', {gigToShow: gigToShow, gigsByCatagory: gigsByCatagory}); %>
            </select>
        </form>
        </section>
        <%- include('templates/footer.ejs') %>
    </body>
</html>